<nav class="page-sidebar" data-pages="sidebar">



<div class="sidebar-header">
<%= image_tag 'logo.png', class:'brand', width:'150' %>
</div>


<div class="sidebar-menu">

<ul class="menu-items">


 <li class="m-t-30 ">
  <li>
            <a href="javascript:;"><span class="title">Produtos</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class='fa fa-users' data-feather="calendar"></i></span>
            <ul class="sub-menu">
              <li class="">
                <%= link_to 'Ver', products_path %>
                <span class="icon-thumbnail">+</span>
              </li>
              <li class="">
                <a href="#">Não inscritos</a>
                <span class="icon-thumbnail">-</span>
              </li>
              <li class="">
                <a href="calendar_lazy.html">Estatísticas</a>
                <span class="icon-thumbnail">La</span>
              </li>
              
            </ul>
          </li>

          <li>
            <a href="javascript:;"><span class="title">Encomendas</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class='fa fa-gift' data-feather="calendar"></i></span>
            <ul class="sub-menu">
              <li class="">
                <%= link_to 'Ver', '#'%>
                <span class="icon-thumbnail">+</span>
              </li>
              <li class="">
                <a href="#">Remover</a>
                <span class="icon-thumbnail">-</span>
              </li>
              <li class="">
                <%= link_to 'Ver edificios', '#'%>
                <span class="icon-thumbnail">W</span>
              </li>
              <li class="">
                <a href="calendar_lazy.html">Estatísticas</a>
                <span class="icon-thumbnail">La</span>
              </li>
              
            </ul>
          </li>

          <li>
            <a href="javascript:;"><span class="title">Limpeza</span>
              <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class='fa fa-file-text' data-feather="calendar"></i></span>
            <ul class="sub-menu">
              <li class="">
                <%= link_to 'Criar', '#'%>
                <span class="icon-thumbnail">+</span>
              </li>
              <li class="">
                <a href="#">Ver relatórios</a>
                <span class="icon-thumbnail">-</span>
              </li>
              <li class="">
                <a href="#">Editar</a>
                <span class="icon-thumbnail">W</span>
            </ul>
              </li>

              <li>
                <a href="javascript:;"><span class="title">Casas</span>
                  <span class=" arrow"></span></a>
                <span class="icon-thumbnail"><i class='fa fa-home' data-feather="calendar"></i></span>
                <ul class="sub-menu">
                  <li class="">
                    <%= link_to 'Ver', '#'%>
                    <span class="icon-thumbnail">+</span>
                  </li>
                  <li class="">
                    <a href="#">Editar Casa</a>
                    <span class="icon-thumbnail">-</span>
                </ul>
                  </li>

          <li>
            <a href="javascript:;"><span class="title">Menus de degustacão</span>
              <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class='fa fa-file-text' data-feather="calendar"></i></span>
            <ul class="sub-menu">
              <li class="">
                <%= link_to 'Ver', menudegustacaos_path%>
                <span class="icon-thumbnail">+</span>
              </li>
              <li class="">
                <a href="#">Ver relatórios</a>
                <span class="icon-thumbnail">-</span>
              </li>
              <li class="">
                <a href="#">Editar</a>
                <span class="icon-thumbnail">W</span>
            </ul>
              </li>

              <li>
                <a href="javascript:;"><span class="title">Casas</span>
                  <span class=" arrow"></span></a>
                <span class="icon-thumbnail"><i class='fa fa-home' data-feather="calendar"></i></span>
                <ul class="sub-menu">
                  <li class="">
                    <%= link_to 'Ver', '#'%>
                    <span class="icon-thumbnail">+</span>
                  </li>
                  <li class="">
                    <a href="#">Editar Casa</a>
                    <span class="icon-thumbnail">-</span>
                </ul>
                  </li>

                  <li>
                    <a href="#"><span class="title">Chat</span>
                      <span class=" arrow"></span></a>
                    <span class="icon-thumbnail"><i class='fa fa-comments' data-feather="calendar"></i></span>

                  </li>
                
</nav>
