<nav class="page-sidebar" data-pages="sidebar">



<div class="sidebar-header">
<%= image_tag 'logo.png', class:'brand', width:'150' %>
</div>


<div class="sidebar-menu">

<ul class="menu-items">


 <li class="m-t-30 ">
  <li>
            <a href="javascript:;"><span class="title">Assembleias</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class='fa fa-users' data-feather="calendar"></i></span>
            <ul class="sub-menu">
              <li class="">
                <%= link_to 'Ver', '#' %>
                <span class="icon-thumbnail">+</span>
              </li>
              <li class="">
                <a href="#">Não inscritos</a>
                <span class="icon-thumbnail">-</span>
              </li>
              <li class="">
                <a href="calendar_lazy.html">Estatísticas</a>
                <span class="icon-thumbnail">La</span>
              </li>
              
            </ul>
          </li>

          <li>
            <a href="javascript:;"><span class="title">Eventos</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class='fa fa-building' data-feather="calendar"></i></span>
            <ul class="sub-menu">
              <li class="">
                <%= link_to 'Inserir', '#'%>
                <span class="icon-thumbnail">+</span>
              </li>
              <li class="">
                <a href="#">Remover</a>
                <span class="icon-thumbnail">-</span>
              </li>
              <li class="">
                <%= link_to 'Ver edificios', '#'%>
                <span class="icon-thumbnail">W</span>
              </li>
              <li class="">
                <a href="calendar_lazy.html">Estatísticas</a>
                <span class="icon-thumbnail">La</span>
              </li>
              
            </ul>
          </li>

          <li>
            <a href="javascript:;"><span class="title">Slides</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class='fa fa-file-text' data-feather="calendar"></i></span>
            <ul class="sub-menu">
              <li class="">
                <%= link_to 'Criar', '#'%>
                <span class="icon-thumbnail">+</span>
              </li>
              <li class="">
                <a href="#">Remover</a>
                <span class="icon-thumbnail">-</span>
              </li>
              <li class="">
                <a href="#">Ver slides</a>
                <span class="icon-thumbnail">W</span>
              </li>
</nav>
