<%= form_with(model: menudegustacao, local: true) do |form| %>
  <% if menudegustacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menudegustacao.errors.count, "error") %> prohibited this menudegustacao from being saved:</h2>

      <ul>
        <% menudegustacao.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco %>
  </div>
  <div class="field">
    <%= form.label :itens %>
    <%= form.text_field :itens, multiple: true %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
