<p id="notice"><%= notice %></p>

<h1>Menus de Degustação</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preco</th>
      <th>Itens</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menudegustacaos.each do |menudegustacao| %>
      <tr>
        <td><%= menudegustacao.nome %></td>
        <td><%= menudegustacao.preco %> €</td>
        <td><%= menudegustacao.itens %></td>
        <td><%= link_to 'Ver', menudegustacao %></td>
        <td><%= link_to 'Editar', edit_menudegustacao_path(menudegustacao) %></td>
        <td><%= link_to 'Eliminar', menudegustacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo menu de degustação', new_menudegustacao_path %>
