<%= form_with(model: degustacao, local: true) do |form| %>
  <% if degustacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(degustacao.errors.count, "error") %> prohibited this degustacao from being saved:</h2>

      <ul>
        <% degustacao.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
