<p id="notice"><%= notice %></p>

<h1>Entrega em Casa</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ingredientes</th>
      <th>Preco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entregaemcasas.each do |entregaemcasa| %>
      <tr>
        <td><%= entregaemcasa.nome %></td>
        <td><%= entregaemcasa.ingredientes%></td>
        <td><%= entregaemcasa.preco %></td>
        <td><%= link_to 'Show', entregaemcasa %></td>
        <td><%= link_to 'Edit', edit_entregaemcasa_path(entregaemcasa) %></td>
        <td><%= link_to 'Destroy', entregaemcasa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entregaemcasa', new_entregaemcasa_path %>
